<form>
  <label for="entertask">Description</label>
  <input type="text" name="entertask" id="entertask" />
  <fieldset>
    <legend>When</legend>
    <label for="today">Today</label>
    <input type="radio" name="today" id="today" />
    <label for="tomorrow">Tomorrow</label>
    <input type="radio" name="tomorrow" id="tomorrow" />
    <label for="selectdate">Select Date</label>
    <input type="radio" name="selectdate" id="selectdate" />
  </fieldset>
  <input type="submit" value="Add Task" />
</form>
