h1 {
  font-size: 2.75rem;
  font-weight: var(--fw-normal);
}

h2 {
  font-size: 1.75rem;
  font-weight: var(--fw-normal);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw-normal);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  font-family: var(--ff-secondary);
}

h5 {
  font-size: 1rem;
  font-weight: var(--fw-normal);
}

h6 {
  font-size: 1rem;
  font-weight: var(--fw-normal);
}
