button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  background-color: var(--primary);
  border-radius: 0.75rem 0 0 0;
  border: none;
  height: 6rem;
  width: 7rem;
  cursor: pointer;
}
button svg {
  height: 2.5rem;
  width: 2.5rem;
}
