@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;700&display=swap");

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --primary: #fe4775;
  --primary: #161060;
  --text-primary: #393939;
  --text-secondary: #111;
  --content-passive: #d4d4d4;
  --fw-normal: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--ff-primary);
}
