<section class="taskList">
  <form>
    <input type="checkbox" name="entry_1" id="entry_1" class="entry" />
    <label for="entry_1">Book appointment with Laura</label>
    <input type="checkbox" name="entry_2" id="entry_2" class="entry" />
    <label for="entry_2">Upload today shot on dribble</label>
    <input type="checkbox" name="entry_3" id="entry_3" class="entry" />
    <label for="entry_3">Complete the Elephant Illustration</label>
    <input type="checkbox" name="entry_4" id="entry_4" class="entry" />
    <label for="entry_4">Biy cake for Cair´s Birthday</label>
    <input type="checkbox" name="entry_5" id="entry_5" class="entry" />
    <label for="entry_5">Attend UX Conference with Jared</label>
  </form>
</section>
